<% i = 1 %>
	<% yelp.each do |what| %>
		<tr>
			<td><%= i %>. <%= what[:name] %></td>
			<td>
				<% what[:categories].each do |cat| %>
					<%= cat[0] %>,&nbsp;
				<% end %>
			</td>
			<td><%= what[:rating] %></td>
		</tr>
		<tr>
			<td><%= link_to what[:url], what[:url], target: "_blank" %></td>
			<td><%= what[:phone] %></td>
			<td><%= what[:review_count] %></td>
		</tr>
	<% i += 1 %>
	<% end %>