<% i = 1 %>
<% @yelp.each do |yelp_call| %>
	<% yelp_call.each do |what| %>
		<tr class="yelp-row">
			<td><%= i %>. <%= what[:name] %></td>
			<td>
				<% what[:categories].each do |cat| %>
					<%= cat %>,&nbsp;
				<% end %>
			</td>
						<td><%= link_to what[:url], what[:url], target: "_blank" %></td>
			<td><%= what[:phone] %></td>
			<td><%= what[:rating] %> (<%= what[:review_count] %>)</td>
			<td class="yelp-row-dist"><%= what[:distance].to_i %></td>
		</tr>
		<% i += 1 %>
	<% end %>
<% end %>